@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Sans'), local('NotoSans'), url(../fonts/NotoSans-BoldItalic.ttf) format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), local('Inconsolata'), url(../fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 700;
  src: local('Inconsolata'), local('Inconsolata'), url(../fonts/Inconsolata-Bold.ttf) format('truetype');
}
