<div class="expanded row app-header-wrapper">
  <div class="app-image-wrapper">
    <img title="Paper Plane" src="{{root}}assets/img/icon.png" width="48" height="48"/>
  </div>
  <div class="app-title-wrapper unselectable">
    <h3 class="app-title">Paperplane</h3>
  </div>
</div>
<ul class="sidebar vertical menu" data-accordion-menu>
  <li id="menu-saved-api-keys">
    <a class="title" href="#"><i class="fa fa-caret-right"></i> API Keys <span class="badge count"></span></a>
    <ul class="menu vertical nested api-keys">

    </ul>
  </li>
  <li id="menu-saved-reg-ids">
    <a class="title" href="#"><i class="fa fa-caret-right"></i>Registration IDs <span class="badge count"></span></a>
    <ul class="menu vertical nested reg-ids">

    </ul>
  </li>
  <li id="menu-saved-messages">
    <a class="title" href="#"><i class="fa fa-caret-right"></i>Messages <span class="badge count"></span></a>
    <ul class="menu vertical nested messages">

    </ul>
  </li>
</ul>
